<h1>INDEX PAGE</h1>

<h1>INDEX PAGE</h1>

<nav>
    <ul>
        <li>
            <a href="accounts/login">LOGIN</a>
        </li>
        <li>
            <a href="accounts/register">REGISTER</a>
        </li>
        <li>
            <a href="accounts/forgetpassword">FORGET PASSWORD</a>
        </li>
    </ul>
</nav>