<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>INDEX PAGE</h1>

    <nav>
        <ul>
            <li>
                <a href="accounts/login">LOGIN</a>
            </li>
            <li>
                <a href="accounts/register">REGISTER</a>
            </li>
            <li>
                <a href="accounts/forgetpassword">FORGET PASSWORD</a>
            </li>
        </ul>
    </nav>
</body>

</html>