<h1>DASHBOARD (student side)</h1>

<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="dashboard/grades">Grades</a>
        </li>
        <li>
            <a href="dashboard/reminders">Reminders</a>
        </li>
        <li>
            <a href="dashboard/announcements">Announcements</a>
        </li>
    </ul>
</nav>