<h1>DASHBOARD (Teacher Side)</h1>

<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/teacher/scanQR">Scan QR Code</a>
        </li>
        <li>
            <a href="/teacher/encodeGrades">Encode Grades</a>
        </li>
        <li>
            <a href="/teacher/createReminders">Create Reminders</a>
        </li>
        <li>
            <a href="/teacher/createAnnouncement">Make Announcement</a>
        </li>
    </ul>
</nav>