<h1>LOGIN</h1>

<a href="/">HOME</a>

<form action="./auth" method="post">
    <input type="email" name="email" id="email">
    <input type="password" name="password" id="password">
    <button type="submit">LOGIN</button>
</form>

