<h1>Reset Password</h1>

<a href="/">HOME</a>

<form action="./check" method="post">
    <label for="email">Enter Email Address</label>
    <input type="email" name="email" id="email"><br>
    <button type="submit">Check Email</button><br>
</form>