<h1>DASHBOARD (Admin Side)</h1>

<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/admin/addStudent">Add Student</a>
        </li>
        <li>
            <a href="/admin/attendance">Check overall Attendance</a>
        </li>
        <li>
            <a href="/admin/encodeGrades">Overwrite Grades</a>
        </li>
        <li>
            <a href="/admin/editProfile">Overwrite Student Profile</a>
        </li>
    </ul>
</nav>